.fadeout:hover {
    opacity: 0;
    transition: 0.25s;
    min-width: 6em;
}
.fadein {
    opacity: 1;
    min-width: 0;
    transition: 0.25s;
}
.fadein:hover {
    opacity: 1;
    transition: 0.25s;
    min-width: 6em;
}
.player-control-button {
    min-width: 2em;
}
.blur {
    filter: blur(5px);
}
.track_title {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.round {
    border-radius: 5em;
    background: darker(@view_bg_color);
    /*opacity: 0.5;*/
}
.no-vert-padding {
    /*padding-top: 0;
    padding-bottom: 0;*/
    margin-top: 0;
    margin-bottom: 0;
}
.play-button {
    /*background-color: mix(@card_shade_color, #299429,0.5);*/
    color: @green_5;
}